article {
    border: 1px solid silver;
    margin: 10px;
    padding: 5px;
}

main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

section {
    text-align: center;
}

@import  url(https://fonts.googleapis.com/css?family=Roboto:300);

.login-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}
.form {
  position: relative;
  z-index: 1;
  background: #3bdbff54;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 #2196F3, 0 5px 5px 0 #2196F3;
}
.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #ffffffd9;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
#crear {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background:#22ff66 ;
  width: 100%;
  border: 0;
  padding: 18px;
  color: #FFFFFF;
  font-size: 25px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
  background-image: url("../imágenesDirectas/background-vistacrear.jpg");
   
}
#crear:hover,#crear:active,#crear:focus {
  background-image: url("../imágenesDirectas/background-clickcrear.jpg");
  
}
.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.form .message a {
  color: #4CAF50;
  text-decoration: none;
}
.form .register-form {
  display: none;
}

body { 
           
    background-image: url(https://image.freepik.com/vector-gratis/fondo-abstracto-amarillo-naranja_1078-465.jpg)
  /* background: #76b852; /* fallback for old browsers */
   /* background: -webkit-linear-gradient(right, #76b852, #8DC26F);
    background: -moz-linear-gradient(right, #76b852, #8DC26F);
    background: -o-linear-gradient(right, #76b852, #8DC26F);
    background: linear-gradient(to left, #009688, #E91E63);
    font-family: "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; */
   
  
}

/*
form {
    display: inline-block;
    border: 1px solid silver;
    padding: 10px;

}

input {
    display: block;
    margin-bottom: 10px;

}

#crear {
    display: inline-block;
}*/
div {
    margin-top: 5px;
}



@media only screen and (max-width: 600px) {
    main {
        grid-template-columns: repeat(1, 1fr);
    }
}
